

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  height: 100vh;
}

.app-title {
  border-radius: 25%;
  border: #0070f3;
}
.completed {
  text-decoration: line-through;
  color: darkgray;
}

.button {
  transition: background-color 0.3s ease;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

}
.button:hover {
  background-color: #646cff;
}

.Todos {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  padding: 10px;
  width: 300px;
  border:thick double #000000;
  
}

input[type="text"] {
  border: 1px solid #ddd;
  padding: 5px;
  overflow: hidden;
  width: 200px;
  height: 25px;
  border:thick double #000000;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
  border-radius: 50%;
  border: 1px;
  border-color: gray;
}

.add-button {
margin-left: 20px;
height: 30px;
border:thick double #000000;
}

.todo-item {
  display: flex;
  justify-items: space-between;
  align-items: center;
  width: 300px;
}

.remove-button {
  margin-left: auto;
}
